#map-break
{
    position: relative;
    margin-top: 275px;
    margin-bottom: 225px;
}
#map-ul 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1050px;
    height: 700px;
    display: flex;
}
.map-panel {
    list-style: none;
    background-image: url(../images/Accent/world-map.jpeg);
    background-size: cover;
    height: 100%;
    width: 25%;
    transition: 1s;
}
#map-ul:hover .map-panel:nth-child(odd)
{
    transform: skewY(20deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}
#map-ul:hover .map-panel:nth-child(even)
{
    transform: skewY(-20deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}
.map-panel:nth-child(1)
{
    background-position: 0;

}
.map-panel:nth-child(2)
{
    background-position: -262.5px;
    
}
.map-panel:nth-child(3)
{
    background-position: calc(-262.5px * 2);
    
}
.map-panel:nth-child(4)
{
    background-position: calc(-262.5px * 3);
}
